<strong>Olá, {{ meetupManagerName }}!</strong>

<p>
  {{ subscriberName }} acabou de se inscrever para o seu Meetup
  <strong>{{ meetupName }}</strong>
</p>

<p>Esperamos que essa seja uma ótima experiência para vocês!</p>
